
        
        <h1>To je login</h1>

        {{#if napaka}}
            <h2>{{sporocilo}}</h2>
        {{/if}}
        
<form action="http://localhost:3000/podatki" method="post">
    <input type="email" name="mail" placeholder="Vnesi mail">
    <input type="password" name="geslo" placeholder="Vnesi geslo">
    <button class="btn btn-primary" type="submit">Login</button>
</form>