
{{#if napaka}}
    <h2>{{sporocilo}}</h2>
{{/if}}



<form action="http://localhost:3000/fabio" method="post">
    <input type="mail" name="mail" placeholder="Vnesi mail">
    <br>
    <input type="password" name="geslo" placeholder="Vnesi geslo">
    <br>
    <button type="submit">Login</button>
</form>